<nav class="navbar navbar-toggleable-md navbar-light bg-light">
<h2 class="text-muted justify-content-begining">Tania D'Angelo</h2>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: gray;">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="row">
          <div class="col-sm-12 py-0">
            <h4 class="text-muted">About</h4>
            <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
            <nav class="nav portfolio-nav justify-content-end">
              <p><a class="nav-link" href="login_helper"><%= login_helper %></a></p>
            </nav>
          </div>
        </div>
    </div>
</nav>
  

<nav class="navbar sticky-top navbar-light bg-dark justify-content-center"
  <nav class="nav portfolio-nav">
    <%= nav_helper 'nav-link', 'span' %>
  </nav>
</nav>