<div class="blog-header">
  <div class="container">
    <h2 class="blog-title">Tech Blog</h2>
    <span>
      <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>
    </span>
  </div>
</div>