<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 300, alt: "Profile Image" %>
      </div>

      <div class="col-md-8">
        <p>I decided to pursue Software Development fter 10 years of experience in government, law enforcement, and non-profit work at the federal and county levels.  Investigating, Debugging, and Web Development have always been a passion of mine.  I decided to finally make it my career path and will soon graduate from Bottega Tech's Fullstack Software Development program.  I'm excited for this new journey and look forward to growing my career.</p>
      </div>
    </div>
  </div>
</div>