<h1>About Me</h1>

<p>Upcoming web development certificate graduate in software programming principles across multiple platforms. Seeking entry-level experience in developing, testing and debugging code. Quick to learn and master new technologies. Dedicated to providing excellent service, creating innovative solutions and meeting strict deadlines while meeting/exceeding company goals.</p>