<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 300, alt: "Profile Image" %>
      </div>

      <div class="col-md-8">
        <p>I decided to pursue Software Development fter 10 years of experience in government, law enforcement, and non-profit work at the federal and county levels.  Investigating, Debugging, and Web Development have always been a passion of mine.  I decided to finally make it my career path and will soon graduate from Bottega Tech's Fullstack Software Development program.  I'm excited for this new journey and look forward to growing my career.</p>

        <p>
          <button 
            class="bt btn-info"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controller="jobHistory"
          >
            Job History
          </button>

          <button 
            class="bt btn-info"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controller="education"
          >
            Education
          </button>

           <button 
            class="bt btn-info"
            type="button"
            data-toggle="collapse"
            data-target="#freelance"
            aria-expanded="false"
            aria-controller="freelance"
          >
            Freelance Work
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Job 1
            </div>
            <div class="card card-block">
              Job 2
            </div> 
            <div class="card card-block">
              Job 3
            </div>
          </div>

           <div class="collapse" id="education">
            <div class="card card-block">
              School 1
            </div>
            
            <div class="card card-block">
              School 2
            </div>
          </div>

            <div class="collapse" id="freelance">
            <div class="card card-block">
              Freelance Work 1
            </div>
            
            <div class="card card-block">
              Freelance Work 2
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>