<div class="app-card-container">
  <div class="card">
    <h3>I am here to answer any questions you have in an effort to create an effective solution for your software development needs.</h3>

    <hr>

    <div class= "row">
      <div class="col-md-6">
        <h2>Location</h2>
    
        <p>Youngsville, Lafayette Parish, LA 70592</p>

        <h2>Phone</h2> 
    
        <p><%= number_to_phone "8326531195" %></p>

        <h2>Email</h2> 

        <p><%= link_to "Email me", "mailto:tania.a.dangelo@outlook.com?subject=Portfolio Contact" %></p>
      </div>

      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43683.76093035624!2d-92.01662649866354!3d30.099254176884983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x862362d5d004ad3b%3A0x9bfd9227f548ccdd!2sYoungsville%2C+LA!5e0!3m2!1sen!2sus!4v1508797935283" width="350" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

